* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.container {
  margin: 10px;
  height: 100vh;
  background-image: url("img/mariola-grobelska-8a7ZTFKax_I-unsplash.jpg");
  background-position: center;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 15px;
  font-size: 7rem;
}

#age-component {
  color: white;
  font-size: 4rem;
  margin-left: 10rem;
  margin-top: 5rem;
}

label {
  color: white;
  margin-left: 10rem;
  margin-right: 10px;
  font-size: 3rem;
}

ul {
  color: white;
  margin: 10px 10px 15px 10rem;
  font-size: larger;
}
li {
  margin: 10px;
}

input {
  width: 12rem;
  height: 2rem;
  font-size: larger;
}

button {
  width: 5rem;
  height: 2rem;
  margin: 10px;
  padding: 15px;
  border: 3px solid black;
}
